* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kodchasan", sans-serif;
    background-color: #EFEEF3;
}

header {
    max-width: 1440px;
    height: 320px;
    margin: auto;
    background-image: url(imagens/BACKGROUND.png);
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #EFEEF3;
        padding: 0 1vh;
        ul {
            display: flex;
            list-style-type: none;

            li {
                margin-left: 1.5vh;
                a {
                    font-size: 1.66vw;
                    text-decoration: none;
                    color: #000000;
                    font-weight: 500;
                }
            }
        }

    }
}

main{
    max-width: 1440px;
    margin: auto;
    justify-content: space-evenly;
    section {
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        align-items: center;
        @mixin
        div{
            max-width: 35vw;
        }
        figure {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h3{
            font-size: 1.875rem;
            font-style: normal;
            max-width: 30vw;
        }
    
        h2 {
            text-align: center;
            max-width: 35vw;
            font-size: 2.25rem;
        }
    
        p {
            max-width: 40vw;
            text-align: center;
            font-size: 1.5rem;
        }
    
        img{
            margin: 0 25px;
        }
    
    
    }
}

